{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'account_logout' %}">logout</a></p>
  <p><a href="{% provider_login_url 'github' process='connect' %}">Connect you GitHub</a></p>
  <p><a href="{% provider_login_url 'stripe' process='connect' %}">Connect you Stripe</a></p>
{% else %}
  <p>You are not logged in</p>
  <div>
    <a href="{% url 'account_login' %}">login</a> |
    <a href="{% url 'account_signup' %}">signup</a>
  </div>
  <div>
    <a href="{% provider_login_url 'github' %}">Github</a>
    <a href="{% provider_login_url 'stripe' %}">Stripe</a>
  </div>
{% endif %}
{% endblock %}